[submodule "platforms/linux/mnist"]
	path = platforms/linux/mnist
	url = https://github.com/wuhanstudio/mnist
[submodule "platforms/win_linux/mnist"]
	path = platforms/win_linux/mnist
	url = https://github.com/wuhanstudio/mnist
